{% extends "base.html" %} 
{% load staticfiles %}
{% block headExtras %}
    <style type="text/css">
#cont {  
  width: 900px;  
  margin-left: auto;  
  margin-right: auto;
}
</style>{% endblock %} 

{% block container %}
    <div id="cont">
	<h4>Actualizando: {{nombre_rubro}}</h4>
      <form action="" method="POST">{% csrf_token %}
        {{actualizador.non_field_errors}}
        {{actualizador.rubro}}
        <div class="params"> 
          <div id="porcentaje">
          {{actualizador.porcentaje.errors}}
          <label for="id_porcentaje">Porcentaje:</label>{{actualizador.porcentaje}}
          </div>
        </div>
        <input value="ACEPTAR" type="submit"></form> 
    {% endblock %}