{% extends "base.html" %} 
{% load staticfiles %}
{% block headExtras %}
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="http://bootstrapvalidator.com/vendor/bootstrapvalidator/js/language/es_ES.js"></script>
	<link rel="stylesheet" href="https://drive.google.com/uc?export=download&id=0B727IIAvoYr_NktXQjVLRE11cXM" type="text/css">
	<link rel="stylesheet" href="https://drive.google.com/uc?export=download&id=0B727IIAvoYr_Rnd5cm9Ed2V5QVU" type="text/css">
	<script src="https://drive.google.com/uc?export=download&id=0B727IIAvoYr_T1BZMVJUN3MxMHM" type="text/javascript"></script>
	<script>
    $(document).ready(function () {
    	function cambiarEstadoProveedor(){
    		if ($('input[type="radio"][value="TODOS"]').is(":checked")){
    			$("#id_proveedor").prop("disabled", true).trigger("chosen:updated")
    		}
    		else {
    			$("#id_proveedor").prop("disabled", false).trigger("chosen:updated")
    		}
    	}
    	
    	
    	$("#id_proveedor").chosen();
    	
    	$("input[type='text'], select").each(function() {
    		$(this).addClass("form-control");
    		});
    	
    	$('input[name="listar"]').on('change',function(){
    		cambiarEstadoProveedor();
    	})
    	
    	$("form").bootstrapValidator({
    		container: 'popover',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            live:'submitted',
            fields: {
                	proveedor:{
                		excluded: false,
                		validators: {
                			callback:{
                				message: 'Debe seleccionar un proveedor',
                				callback: function(value, validator){
                					var selec = $('input[name=listar]:checked', 'form').val()
                					var options = validator.getFieldElements('proveedor').val();
                					console.log(options)
                					if (selec=='TODOS') {return true}
                					else if (options&&selec=='UNO') {return true} else {return false}
                				}
                			}
                		}
                	}
            		}
                	})
               $('input[type="radio"][value="TODOS"]').prop('checked', true)
               $('input[type="radio"][value="SIMPLE"]').prop('checked', true)
               cambiarEstadoProveedor();
    
    });
    
    
    

</script>

<style type="text/css">
form .chosen-choices {
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 34px;
    padding: 6px 12px;
}
form .form-control-feedback {
    /* To make the feedback icon visible */
    z-index: 100;
}
</style>
{% endblock %} 

{% block container %}
	<div id="cont" class="container">
		<div class="page_header"><h1>Resumen de Cuenta <small>Informe</small></h1></div>    	
			<form class="form-horizontal" method="POST">{% csrf_token %}
				<div class="form-group">
					<div class="col-md-3">
						{% for radio in comp.listar %}
						<div class="checkbox">{{radio}}</div>
						{% endfor %}
					</div>
					<div class="col-md-5">{{comp.proveedor}}</div>
				</div>
				<div class="form-group">
					{% for radio in comp.tipo %}
					<div class="col-md-2">
						<div class="checkbox">{{radio}}</div>
					</div>
					{% endfor %}
				</div>
				<input class="btn btn-primary" value="ACEPTAR" type="submit">
			</form>
		</div>
    {% endblock %}