{% extends "base.html" %} 
{% load staticfiles %}
{% block headExtras %}
    <link rel="stylesheet" href="https://drive.google.com/uc?export=download&id=0B727IIAvoYr_Rnd5cm9Ed2V5QVU" type="text/css">
    <script src="https://drive.google.com/uc?export=download&id=0B727IIAvoYr_T1BZMVJUN3MxMHM" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
    	$("#fechas").hide();
    
    $("input[type=radio][name=por]").change(function () {
    	if (this.value == 'periodo'){
    		$("#fechas").hide();
    		$("#periodo").show();
			$("#button_exportar").prop('disabled',false);
    	}
    	else if (this.value == 'fechas'){
    		$("#periodo").hide();
    		$("#fechas").show();
			$("#button_exportar").prop('disabled',true);
    	}
    
    });
    
	$("#button_exportar").on('click',function(){
        window.location="/informes/exportar_3685_compras/"+$("#id_periodo").val()
    });
    
    });

</script>
{% endblock %} 

{% block container %}
<div id="cont">    	
<div class="page_header">
			<h1>Informes <small>Subdiario IVA Compras</small></h1>
		</div>
      	<form class="form-horizontal" role ="form" action="" method="POST">{% csrf_token %}
      		<div class="form-group">
          		<label class="control-label col-md-2" for="id_folio_inicial">Folio inicial:</label>
          		<div class="col-md-2">
          		{{subdiario.folio_inicial}}
          		</div>
          	</div>	
          <div class="form-group">
        	  <label class="control-label col-md-2">Informar Por</label>
        	  <div class="col-md-3">
        	  <label class="radio-inline">
        	  <INPUT TYPE="radio" NAME="por" VALUE="periodo" checked>Periodo
        	</label>
        	<label class="radio-inline">
        	<INPUT TYPE="radio" NAME="por" VALUE="fechas">Fechas 
        	</label>
        	</div>
        </div>
          			  
          <div class="form-group" id="periodo">
          <label for="id_periodo" class="control-label col-md-2">Periodo:</label>
          <div class="col-md-2">{{subdiario.periodo}}
          </div>
          </div>
          <div class="form-group" id="fechas">
          <label class="control-label col-md-2" for="id_fecha_desde">Fecha desde:</label>
          <div class="col-md-2">{{subdiario.fecha_desde}}</div>
          <label class="control-label col-md-2" for="id_fecha_hasta">Fecha hasta:</label>
          <div class="col-md-2">{{subdiario.fecha_hasta}}</div>
          </div>
        </div>
        <a class="btn btn-default" role="button" href="{% url "home" %}">Cancelar</a>
        <input class="btn btn-primary" role="button" value="ACEPTAR" type="submit">
		<input id="button_exportar" class="btn btn-default" value="EXPORTAR RG3485" type="button">
    </form>
        </div>
    {% endblock %}