{% extends "base.html" %}
{% load staticfiles %}
{% block headExtras %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {

            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '<Ant',
                nextText: 'Sig>',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            }
            $.datepicker.setDefaults($.datepicker.regional['es']);


            $("#id_fecha_desde").datepicker();
            $("#id_fecha_hasta").datepicker();
        });


    </script>
    <style type="text/css">
        #cont {
            width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>{% endblock %}

{% block container %}
    <div id="cont">
        <form action="" method="POST">{% csrf_token %}
            {{ totform.non_field_errors }}
            <div class="params">
                <div id="fechas">
                    {{ totform.inicio.errors }}
                    <label for="id_inicio">Inicio:</label>{{ totform.inicio }}<br><br>
                    {{ totform.fin.errors }}
                    <label for="id_fin">Fin:</label>{{ totform.fin }}<br><br><br>
                </div>
            </div>
            <input value="ACEPTAR" type="submit"></form>
{% endblock %}